.card {
  transition: transform 0.1s;
  background-color: #c2cad0;
  border-style: solid;
  border-width: 2px;
}
.card:hover {
  border-color: #9a1750;
  box-shadow: 0 0 50px #9a1750;
}
.navbar {
  background-color: #7e685a;
}
body {
  background-image: radial-gradient(
      rgba(230, 230, 230, 0.9),
      rgba(231, 113, 125, 0.9)
    ),
    url("/static/images/background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  margin: 0 auto;
}
.btn {
  margin: 5px;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 80px;
  /* color: white; */
}

h2 {
  font-weight: 300;
  font-size: 60px;
}

.table {
  background-color: rgba(252, 164, 1, 0.75);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 157, 0, 0.429);
  border-radius: 30;
}
