{%extends 'layout.template.html'%}

{%block title%}Confirm Delete Review{%endblock%}

{%block navbar%}
<a href='{{url_for('show_all')}}' class='btn btn-outline-dark'>Back to Main Page</a>
{%endblock%}

{%block content%}
<h2>Delete Review?</h2>
<div class='alert alert-danger'>
<h5>Warning! This action cannot be undone.</h5>
<h6>Are you sure?</h6>
    <form method='POST'>
        <input type='submit' value='Confirm' class='btn btn-danger'/>
        <a href='{{url_for('show_all')}}' class='btn btn-secondary'>Cancel</a>
    </form>
</div>
{%endblock%}