{%extends 'layout.template.html'%}

{%block title%}Create New Profile{%endblock%}

{%block content%}
<form method='POST'>
    <h2>Create a New Restaurant Profile</h2>
    <a href="{{url_for('show_all')}}" class='btn btn-danger'>Cancel</a>
    <div>
        <label>Restaurant Name</label>
        <input type='text' name='restaurant_name' class='form-control' />
    </div>
    <div>
        <label>Block & Street Number</label>
        <input type='text' name='address_street' class='form-control' />
    </div>
    <div>
        <label>Unit Number</label>
        <input type='int' name='address_unit' class='form-control' />
    </div>
    <div>
        <label>Postal Code</label>
        <input type='int' name='postcode' class='form-control' />
    </div>
    <div>
        <label>Halal Certification</label><br>
        <input type='radio' id='halal' name='halal_cert' value='Halal' />
        <label for='Halal'>Halal Certified</label>
        <input type='radio' id='female' name='halal_cert' value='Non-Halal' />
        <label for='Non-Halal'>Not Halal Certified</label>
    </div>
    <!-- <div>
        <label>Date of Birth</label>
        <input type='date' name='dob' class='form-control'/>
    </div> -->
    <div>
        <label>Type of Restaurant</label>
        <select name='restaurant_type' class='form-control'>
            <option value='Cafe'>Cafe</option>
            <option value='Bistro'>Bistro</option>
            <option value='Casual Dining'>Casual Dining</option>
            <option value='Fine Dining'>Fine Dining</option>
            <option value='Fast Food'>Fast Food</option>
        </select>
    </div>
    <div>
        <label>Cuisines</label><br>
        <input type='checkbox' class='languages_checkbox' id='Japanese' name='japanese' />
        <label for='Japanese'>Japanese</label>
        <input type='checkbox' class='languages_checkbox' id='English' name='english' />
        <label for='English'>English</label>
        <input type='checkbox' class='languages_checkbox' id='French' name='french' />
        <label for='French'>French</label>
        <input type='checkbox' class='languages_checkbox' id='Italian' name='italian' />
        <label for='Italian'>Italian</label>
    </div>
    <div>
        <label>Website</label>
        <input type='text' name='website' class='form-control' />
    </div>
    <div>
        Picture<br>
        <a id="upload_widget" class="cloudinary-button">Upload Image</a>
        <input type="hidden" id="uploaded_file_url" name="uploaded_file_url" />
        <br />
        <img id="uploaded_image">
    </div>

    <input type='submit' value='Submit' />
</form>
{%endblock%}

{%block js%}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
        cloudName: '{{cloud_name}}',
        uploadPreset: '{{upload_preset}}'
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            document.querySelector('#uploaded_file_url').value = result.info.url
            document.querySelector('#uploaded_image').src = result.info.url
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>

{%endblock%}