<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- Styles CSS File-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
      type="text/css"
    />

    <title>Foodie Reviews</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="jumbotron text-center">
        <h1 class="">Foodie Reviews</h1>
        <p class="lead">
          Reviewed by foodies, for foodies!
        </p>
        <hr class="my-4" />
        <p>
          Avid foodie looking for good recommendations to satiate your food cravings? Check out the reviews written by other foodies or write one yourself!
        </p>
        <p class="lead">
          <a
            class="btn btn-warning btn-lg"
            href="{{url_for('show_all')}}"
            role="button"
            >Jump In!</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
