{%extends 'layout.template.html'%}

{%block title%}Restaurant Details{%endblock%}

{%block navbar%}
<a href='{{url_for('show_all')}}' class='btn btn-outline-dark'>Back to Main Page</a>
{%endblock%}

{%block content%}
<h2 class="text-center">{{restaurant.restaurant_name}}</h2>
<div class='row justify-content-around'>
    <div style='max-width: 500px;'>
        <img src='{{restaurant.picture_url}}' class='img-fluid col-m-5'/>
    </div>
	<div class='col-m-5 mt-3 mb-3 pt-3 my-auto'>
		<h4>Address</h4>
		<h5>{{restaurant.address_street}}</h5>
		<h5>#{{restaurant.address_unit}}</h5>
		<h5>Postal Code: {{restaurant.postcode}}</h5>
		<a href='{{restaurant.website}}' target='blank'>{{restaurant.website}}</a>
        <br>
        <a href='{{url_for('update_restaurant', id=restaurant._id)}}' class='btn btn-primary'>Edit</a>
        <a href='{{url_for('confirm_delete', id=restaurant._id)}}' class='btn btn-danger'>Delete</a>
	</div>
</div>

<h3>Reviews</h3>
<a href='{{url_for('create_review', id = restaurant._id)}}' class='btn btn-light mb-3'>New Review</a>
<ul class='list-group'>
	{%for review in restaurant.reviews %}
	<li class="list-group-item">
			<h5>{{review.review_food}}</h5>
			<p class='m-2'>{{review.review_text}}</p>
			<p class='blockquote-footer text-right'>{{review.review_name}}</p>
			<p class='small text-right'>UTC {{(review.dtg).strftime('%Y-%m-%d %H:%M')}}</p>
			<a href='{{url_for('update_review', review_id=review._id)}}' class='btn btn-outline-primary'>Edit</a>
			<a href='{{url_for('confirm_delete_review', review_id=review._id, )}}' class='btn btn-outline-danger'>Delete</a>
	</li>
    {%endfor%}
</ul>
{%endblock%}