{%extends 'layout.template.html'%}

{%block title%}Update User{%endblock%}

{%block navbar%}
<a href='{{url_for('show_all')}}' class='btn btn-outline-dark'>Back to Main Page</a>
{%endblock%}

{%block content%}
<form method='POST'>
    <h2>Update Profile</h2>
    <div>
        <label>Restaurant Name</label>
        <input type='text' name='restaurant_name' class='form-control' value='{{restaurant.restaurant_name}}' />
    </div>
    <div>
        <label>Block & Street Number</label>
        <input type='text' name='address_street' class='form-control' value='{{restaurant.address_street}}' />
    </div>
    <div>
        <label>Unit Number</label>
        <input type='int' name='address_unit' class='form-control' value='{{restaurant.address_unit}}' />
    </div>
    <div>
        <label>Postal Code</label>
        <input type='int' name='postcode' class='form-control' value='{{restaurant.postcode}}' />
    </div>
    <div>
        <label>Halal Certification</label><br>
        <input type='radio' id='halal' name='halal_cert' value='Halal'
            {% if restaurant.halal_cert=='Halal' %}checked{%endif%} />
        <label for='Halal'>Halal Certified</label>
        <input type='radio' id='female' name='halal_cert' value='Non-Halal'
            {% if restaurant.halal_cert=='Non-Halal' %}checked{%endif%} />
        <label for='Non-Halal'>Not Halal Certified</label>
    </div>
    <div>
        <label>Type of Restaurant</label>
        <select name='restaurant_type' class='form-control'>
            <option value='Cafe' {% if restaurant.type=='Cafe'%}selected='selected' {%endif%}>Cafe</option>
            <option value='Bistro' {% if restaurant.type=='Bistro'%}selected='selected' {%endif%}>Bistro</option>
            <option value='Casual Dining' {% if restaurant.type=='Casual Dining'%}selected='selected' {%endif%}>Casual Dining</option>
            <option value='Fine Dining' {% if restaurant.type=='Fine Dining'%}selected='selected' {%endif%}>Fine Dining</option>
            <option value='Fast Food' {% if restaurant.type=='Fast Food'%}selected='selected' {%endif%}>Fast Food</option>
        </select>
    </div>
    <div>
        <label>Cuisines</label><br>
        <input type='checkbox' class='languages_checkbox' id='Japanese' name='japanese'
            {%for i in restaurant.cuisines%}{%if i=='Japanese'%}checked{%endif%}{%endfor%} />
        <label for='Japanese'>Japanese</label>
        <input type='checkbox' class='languages_checkbox' id='English' name='english'
            {%for i in restaurant.cuisines%}{%if i=='English'%}checked{%endif%}{%endfor%} />
        <label for='English'>English</label>
        <input type='checkbox' class='languages_checkbox' id='French' name='french'
            {%for i in restaurant.cuisines%}{%if i=='French'%}checked{%endif%}{%endfor%} />
        <label for='French'>French</label>
        <input type='checkbox' class='languages_checkbox' id='Italian' name='italian'
            {%for i in restaurant.cuisines%}{%if i=='Italian'%}checked{%endif%}{%endfor%} />
        <label for='Italian'>Italian</label>
    </div>
    <div>
        <label>Website</label>
        <input type='text' name='website' class='form-control' value='{{restaurant.website}}' />
    </div>
    <div>
        <label>Image</label><br>
        <a id="upload_widget" class="cloudinary-button">Upload Image</a>
        <input type="hidden" id="uploaded_file_url" name="uploaded_file_url" />
        <br />
        <p id="uploaded_file_display" style="display:none">Uploaded File Name:<span id="uploaded_file_name"></span></p>
        <img id="uploaded_image" src='{{restaurant.picture_url}}' style="max-width: 500px;">
        <input type='hidden' id='uploaded' name='uploaded' style='display:none' value='false'/>
    </div>

    <input type='submit' id='submit' value='Update Details' />
</form>
{%endblock%}

{%block js%}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
        cloudName: '{{cloud_name}}',
        uploadPreset: '{{upload_preset}}'
    }, (error, result) => {
        if (!error && result && result.event === "success") {
            console.log('Done! Here is the image info: ', result.info);
            document.querySelector('#uploaded_file_url').value = result.info.url;
            document.querySelector('#uploaded_file_display').style.display = 'block';
            document.querySelector('#uploaded_image').src = result.info.url;
            document.querySelector('#uploaded').value = 'true';
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>
<script>
    var halal=document.getElementsByName('halal_cert');
    document.getElementById('submit').onclick = function(){
        if (!(halal[0].checked || halal[1].checked)) {
                alert("Please indicate if the restaurant is Halal Certified!");
                return false;
        }
    };
</script>
{%endblock%}